# macOS
.DS_Store

# Xcode
DerivedData/
.derivedData/
.derivedDataBuild/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# CocoaPods (if added later)
Pods/

# Carthage (if added later)
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage
*.profraw
*.profdata
